/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 *
 * For simplicity, no reset or normalize is added.
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/* Colors */
:root {
    --midnight-green-eagle-green: hsla(188, 56%, 23%, 1);
    --medium-turquoise: hsla(176, 56%, 55%, 1);
    --color-background: hsla(120, 100%, 98%, 1);
    --bittersweet: hsla(0, 100%, 71%, 1);
    --naples-yellow: hsla(50, 100%, 71%, 1);
}

/* ---- Base Rules ---- */
body {
    background: var(--color-background);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--midnight-green-eagle-green);
}

/* Typography General*/
h1 {
    font-family: 'Bangers', cursive;
    font-weight: 400;
    font-size: 3em;
    margin: 2em 1rem;
    color: var(--naples-yellow);
}

.main__subtitle {
    color: var(--naples-yellow);
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 0 4rem 1rem;
    }

    .main__subtitle {
        font-size: 1.5em;
        margin: 0 4rem;
    }
}

h2 {
    /* border-bottom: 1px solid var(--medium-turquoise); */
    font-family: 'Bangers', serif;
    font-weight: 400;
    font-size: 3em;
    color: var(--midnight-green-eagle-green);
}

p {
    line-height: 1.6em;
    color: var(--midnight-green-eagle-green);
}

/* ---- Layout Rules ---- */
main {
    margin-bottom: 10vh;
}

.main__hero {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    align-items: center;
    min-height: 80vh;
    background-image: url('../images/aaron-burden-1zR3WNSTnvY-unsplash-xl_2x.jpg');
    background-size: cover;
    background-position: center;
}

.main__header {
    margin-right: 4em;
    padding: 5em;
}

section {
    position: relative;
    min-height: 80vh;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: var(--naples-yellow);
    color: var(--midnight-green-eagle-green);
    transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
    background: var(--color-background);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: var(--color-background);
}

.page__footer p {
    color: var(--color-background);
}

.page__footer a {
    color: inherit;
    text-decoration: underline dotted;
}

.page__footer a:hover {
    color: var(--naples-yellow);
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.2) 100%
    );
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.2) 100%
    );
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.2) 100%
    );
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
/* section.your-active-class {
    background: hsla(50, 100%, 71%, 0.5);
    background: linear-gradient(
        0deg,
        hsla(50, 100%, 71%, 0.5) 0%,
        hsla(50, 100%, 71%, 0.1) 100%
    );
} */

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* section.your-active-class {
    background-color: var(--naples-yellow);
} */

section.your-active-class h2 {
    color: var(--bittersweet);
    border-bottom: 1px solid var(--bittersweet);
    transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

section.your-active-class p {
    color: var(--midnight-green-eagle-green);
}

.link--active {
    background-color: var(--naples-yellow);
}

.menu__link.link--active:hover {
    background-color: var(--bittersweet);
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}
