/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 *
 * For simplicity, no reset or normalize is added.
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/* Colors */
:root {
    --on-color: #000;
    --on-color-inactive: #ccc;
    --color-background: hsla(120, 100%, 98%, 1);
    --color-primary: hsla(50, 100%, 71%, 1);
    --color-secondary: hsla(0, 100%, 71%, 1);
}

/* ---- Base Rules ---- */
body {
    background: var(--color-background);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--on-color);
}

/* Typography General*/
.menu__link {
    font-size: 0.8em;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 3.5em;
    font-weight: 400;
    color: var(--color-primary);
    margin: 0 1rem 0 10rem;
}

.main__subtitle {
    color: var(--color-primary);
    margin: 0 1rem 0 10rem;
}

@media only screen and (min-width: 375px) {
    .menu__link {
        font-size: 1em;
    }

    h1 {
        font-size: 4em;
        margin: 0 1rem 0 11rem;
    }

    .main__subtitle {
        margin: 0 1rem 0 11rem;
    }
}

@media only screen and (min-width: 425px) {
    h1 {
        font-size: 4em;
        margin: 0 1rem 0 13rem;
    }

    .main__subtitle {
        margin: 0 1rem 0 13rem;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4em;
        margin: 0 1.5rem 0 22rem;
    }

    .main__subtitle {
        margin: 0 1.5rem 0 22rem;
    }
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 6em;
        margin: 0 3rem 0 16rem;
    }

    .main__subtitle {
        margin: 0 3rem 0 16rem;
    }
}

@media only screen and (min-width: 1440px) {
    h1 {
        font-size: 7em;
        margin: 0 0 1rem 0;
    }

    .main__subtitle {
        font-size: 1.5em;
        margin: 0;
    }
}

@media only screen and (min-width: 1800px) {
    h1 {
        font-size: 9em;
    }

    .main__subtitle {
        font-size: 2em;
    }
}

@media only screen and (min-width: 2560px) {
    h1 {
        font-size: 12em;
    }

    .main__subtitle {
        font-size: 3em;
    }
}

h2 {
    font-family: 'Bangers', serif;
    font-weight: 400;
    font-size: 3em;
    color: var(--on-color-inactive);
}

p {
    line-height: 1.6em;
    color: var(--on-color-inactive);
}

/* ---- Layout Rules ---- */
main {
    margin-bottom: 10vh;
}

.main__hero {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    align-items: center;
    min-height: 80vh;
    background-image: url('../images/aaron-burden-1zR3WNSTnvY-unsplash-xl_2x.jpg');
    background-size: cover;
    background-position: center;
}

.main_header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

@media only screen and (min-width: 1440px) {
    .main__header {
        margin-right: 3em;
    }
}

@media only screen and (min-width: 1800px) {
    .main__header {
        margin-right: 2em;
    }
}

@media only screen and (min-width: 2560px) {
    .main__header {
        margin-right: 2em;
    }
}

section {
    position: relative;
    min-height: 80vh;
}

@media only screen and (min-width: 1800px) {
    section {
        max-width: 120em;
        margin: 0 auto;
        min-height: 50vh;
    }
}

/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .navbar__menu ul {
        text-align: right;
    }
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:focus,
.navbar__menu .menu__link:hover {
    background: var(--color-primary);
    color: var(--on-color);
    transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
    background: var(--color-background);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: var(--on-color);
    padding: 3em;
    color: var(--color-background);
}

.page__footer p {
    text-align: center;
    color: var(--color-background);
}

.page__footer a {
    color: inherit;
    text-decoration: underline dotted;
}

.page__footer a:hover {
    color: var(--color-primary);
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */
section.your-active-class h2 {
    color: var(--color-secondary);
}

.section__heading::after {
    display: block;
    content: '';
    border-bottom: 1px solid var(--color-secondary);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
}

.underline::after {
    transform: scaleX(1);
    transform-origin: 0 50%;
}

section:nth-of-type(even) .underline::after {
    transform: scaleX(1);
    transform-origin: 100% 50%;
}

section.your-active-class p {
    color: var(--on-color);
}

.menu__link.link--active,
.menu__link.link--active:focus {
    background-color: var(--color-secondary);
    color: var(--color-background);
}

.menu__link.link--active:hover,
.menu__link.link--active:hover:focus {
    background-color: var(--color-secondary);
    color: var(--on-color);
}
